body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:black;
    background-image: url(../image/morocco-blue.png)
     }

.mainheder{ margin: 100px; width: 10px; height: 10px; background: #ffffff; 
    border-color: #cccccc;}


.container{ margin: 10px; width: 10px;height: 10px;
    }

.name{text-align: center; padding: 10px; 
        margin: 20px; width: 300px; height: 100px; 
    color: white; background: #4aaaa5 }

nav{ float: left}

    p{text-align: right}

.terry{margin: 10; width: 200; height: 200px}


section{margin: 10px; width: 10px; height: 10px}








